.centro{
    text-align: center;
    color: rgba(255, 166, 0, 0.904)
}
body{
    background-color: rgba(10, 17, 19, 0.904);
}

.letra{
    font-family: Arial bold;
}
.imagem1{
    with: 170px;
    height: 150px;
}
.imagem2{
    with: 200px;
    height: 165px;
}
.imagem3{
    with: 150px;
    height: 180px;
}
.espaco{
    margin-right: 0px;
}

