body{
  background: #111;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}
main{
  display: flex;
}
.centro{
    text-align: center;
    color: rgba(255, 166, 0, 0.904)
}

.container{
  display: flex;
  gap: 30px;
}

.personagem{
  text-align: center;
  
}

.logo{
  text-align: left;
  
  height:100px;
}

.emoji{
  width: 120px;
  cursor: pointer;
  transition: 0.2s;
}

.emoji:hover{
  transform: scale(1.05);
}

.bloqueado{
  opacity: 0.5;
}

.contador{
  color: white;
  font-size: 30px;
}
